@model IEnumerable<SatGit.Models.Kullanicilar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_anaLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciMail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciSifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciMail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KullaniciID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
